.title {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--bg-primary-color-dark);
}

.listGroup {
    padding: 1rem;

    border: 1px solid var(--bg-primary-color-dark);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 2rem;
}

@media (prefers-color-scheme: dark) {
    .title {
        border-bottom: 1px solid var(--bg-primary-color-light);
    }

    .listGroup {
        border: 1px solid var(--bg-primary-color-light);
    }
}

