.daily {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding: 1rem 0;

  border: 1px solid var(--bg-primary-color-dark);

  cursor: pointer;
  transition: background 0.2s ease;

  &:not(.activeDay):hover {
    background: var(--bg-secondary-color-light);
    box-shadow: 0 0 0.2rem var(--bg-tertiary-color-light);
  }
}

.temp {
  font-size: 1.2rem;
  font-weight: bold;
}

.activeDay {
  background: var(--bg-primary-color-dark);
  color: var(--text-primary-color-light);
  box-shadow: 0 0 0.2rem var(--bg-tertiary-color-light);
  transition:
    background 0.2s ease,
    color 0.2s ease,
    box-shadow 0.2s ease;
}

@media (prefers-color-scheme: dark) {
  .daily {
    border: 1px solid var(--bg-primary-color-light);

    &:not(.activeDay):hover {
      background: var(--bg-secondary-color-dark);
      box-shadow: 0 0 0.2rem var(--bg-tertiary-color-dark);
    }
  }

  .activeDay {
    background: var(--bg-primary-color-light);
    color: var(--text-primary-color-dark);
    box-shadow: 0 0 0.2rem var(--bg-tertiary-color-dark);
  }
}

/* Grid */

.div8 {
  grid-row-start: 7;
}

.div9 {
  grid-row-start: 7;
}

.div10 {
  grid-row-start: 7;
}

.div11 {
  grid-row-start: 7;
}

.div12 {
  grid-row-start: 7;
}
